<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
      <button class="btn btn-sm btn-success" (click)="onGoToUserData()">
        Go to User Data
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-danger" (click)="onGotoAlert()">Alert Page</button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-sm btn-success" (click)="onGoToUserData()">
        Go to User Data
      </button>
    </div>
  </div>
</div>
